footer{
    background-color: var(--gris);
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

footer a, footer span, footer h4{
    color: white;
}

footer img{
    width: 60%;
    padding-top: 15px;
}

footer section{
    display: flex;
    flex-direction: row;
    padding: 0px 5%;
    justify-content: space-between;
}

footer section ul{
    margin: 10px 10px;
    width: 50%;
}

footer section ul li{
    padding: 5px 0;
    text-align: left;
}

footer .redes{
    padding: 5px 24% 20px;
    width: 100%;
}

footer .redes h4{
    text-align: center;
}

footer .redes ul{
    display: flex;
    flex-direction: row;
    padding: 10px 15%;
}

footer .redes ul li{
    width: 30px;
    padding: 0 15px;
}

footer .redes ul li a i{
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.20);
    padding: 5px;
}

footer span{
    text-align: left;
}

@media (min-width: 426px){
    footer img{
        width: 30%;
        margin: 20px 35%;
    }
    footer section{
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid white;
        justify-content: center;
    } 
    footer section ul{
        display: flex;
        flex-direction: row;
        width: auto;
    }
    footer section ul li a{
        font-size: 16px;
        padding: 5px 10px;
        text-align: left;
        align-items: center;
    }
    footer .redes{
        width: 100%;
    }
    footer .redes h4{
        display: none;
    }
    footer .redes ul{
        justify-content: space-evenly;
    }
    footer span {
        padding: 0 40%;
    }
}

@media (min-width: 769px){

    footer img{
        width: 20%;
    }
    footer section ul{
        display: flex;
        flex-direction: row;
        width: auto;
    }
    footer .redes ul{
        justify-content: center;
    }
    footer .redes ul li{
        padding: 10px 10px;
    }
}