.home main .carrusel {

    position: relative;

}

.home main .carrusel img {
    width: 100%;

}

.home main .carrusel div.contenido {
    position: absolute;
    top: 50px;
    width: 80%;
    background-color: transparent;
    text-align: center;
    right: 35px;
    margin: 3% 3%;
}

.home main .carrusel div.contenido button {
    background-color: var(--naranja);
    font-size: 16px;
    font-family: var(--roboto);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    margin: 5px;
}

.home main .carrusel div.contenido h3 {
    font-family: var(--poppins);
    font-size: 27px;
    width: 100%;
    background-color: hsla(30, 100%, 75%, 0.3);

}

.home main .carrusel div.contenido p {
    margin: 10px;
    font-family: var(--rosarivo);
    font-size: 16px;
    background-color: hsla(30, 100%, 75%, 0.3);
    font-weight: bolder;

}

.home main .botones {
    background-color: var(--gris);
    display: flex;
    flex-wrap: wrap;


}

.home main .botones ul {
    width: 90%;

}

.home main .botones ul li {
    display: inline;

    margin-right: 10px;
    width: 45%;

}

.home main .botones ul li a {
    font-family: var(--rosarivo);
    font-size: 14px;
    color: white;
    display: inline-block;
    width: 25%;
    margin: 5% 5% 4% 16%;
    border-left: 1px solid var(--naranja);

}

.home main .productosDestacados {
    width: 100%;
    margin: 0 5px;
}

.home main .productosDestacados h2 {
    margin: 10px;
    text-align: center;


}

.home main .productosDestacados div.articulos {
    background-color: whitesmoke;
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* Maldito wrap!!!!!!!!!!!!!!!!!!!!!!! */

}

.home main .productosDestacados article h4 {
    font-family: var(--rosario);
    font-size: 15px;

}

.home main .productosDestacados article img {

    width: 220px;
    height: 320px;
    box-shadow: 0 0 10px rgb(100, 100, 100);
}

.home main .productosDestacados .slider1,
.home main .productosDestacados .slider2 {
    display: none;
}


.home main .contenidoAmistad {

    padding: 20px 0;
    background-color: whitesmoke;

    display: flex;
    flex-wrap: wrap;
    margin: 10% 20%;
    text-align: center;
}

.home main .contenidoAmistad a {
    color: black;
    font-family: var(--poppins);
    font-size: 16px;
}

.home main .contenidoAmistad img {
    width: 100px;
    height: 150px;
}

.home main .contact {
    background-color: var(--marron-claro);

}

.home main .contact h1 {
    color: black;
}

.home main .contact a {
    color: var(--marron-oscuro);
}





@media (min-width: 426px) {

    .home main .carrusel {

        position: relative;

    }

    .home main .carrusel img {
        width: 100%;

    }

    .home main .carrusel div.contenido {

        top: 150px;
        width: 80%;
        margin: 3% 6%;
        padding: 10px 15px;
    }

    .home main .carrusel div.contenido button {

        font-size: 16px;


        padding: 5px 10px;

        margin: 5px;
    }

    .home main .carrusel div.contenido h3 {

        font-size: 27px;

        width: 100%;
    }

    .home main .carrusel div.contenido p {
        margin: 10px;
        font-family: var(--rosarivo);
        font-size: 16px;


    }

    .home main .botones {
        background-color: var(--gris);
        display: flex;
        flex-wrap: wrap;


    }

    .home main .botones ul {
        width: 100%;
        display: inline-block;
        padding: 23px 0;
        margin-left: 10px;

    }

    .home main .botones ul li {
        width: 23%;
        padding: 0 10px;

    }

    .home main .botones ul li.botoncontacto a {
        width: 11%;
    }

    .home main .botones ul li a {
        font-family: var(--rosarivo);
        font-size: 14px;
        width: 23%;
        margin: 0;
    }

    .home main .productosDestacados {
        width: 100%;
        margin: 0 5px;
    }

    .home main .productosDestacados h2 {
        margin: 10px;
        text-align: center;
    }

    .home main .productosDestacados div.articulos {
        background-color: whitesmoke;
    }

    .home main .productosDestacados div.articulos article {
        width: 34%;
    }

    .home main .productosDestacados article h4 {
        font-family: var(--rosario);
        font-size: 15px;

    }

    .home main .productosDestacados article img {

        width: 220px;
        height: 320px;
    }

    .home main .productosDestacados .slider1 {
        display: block;

    }



    .home main .contenidoAmistad {

        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        margin: 10% 30%;
        text-align: center;
        width: 40%;
    }

    .home main .contenidoAmistad a {
        color: black;
        font-family: var(--poppins);
        font-size: 20px;
    }

    .home main .contenidoAmistad img {
        width: 150px;
        height: 200px;
    }

    .home main .contact {
        background-color: var(--marron-claro);

    }

    .home main .contact h1 {
        color: black;
    }

    .home main .contact a {
        color: var(--marron-oscuro);
    }








}

@media (min-width: 769px) {

    .home main .carrusel {

        position: relative;
    }

    .home main .carrusel img {
        width: 100%;
    }
    .home main .carrusel div.contenido {
        width: 90%;
        padding: 80px;
        margin: 0 10px;
    }

    .home main .carrusel div.contenido h3 {

        font-size: 60px;
        width: 100%;
    }

    .home main .carrusel div.contenido p {
        margin: 0px;
        font-size: 40px;
    }

    .home main .carrusel div.contenido button {

        font-size: 20px;
        padding: 15px 20px;
        border-radius: 5px;
    }

    .home main .botones ul {
        width: 100%;
        display: inline-block;
        padding: 30px 0;
        margin-left: 10px;
    }


    .home main .productosDestacados .slider2 {
        display: block;
    }

    /* para los articulos */
    .home main .productosDestacados div.articulos article {
        width: 21%;
    }

    .home main .contenidoAmistad {

        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        margin: 10% 30%;
        text-align: center;
        width: 40%;
    }

    .home main .contenidoAmistad a {
        font-size: 25px;
       align-content: center;
       margin-left: 100px;
    }

    .home main .contenidoAmistad img {
       display: flex ;
        flex-wrap: wrap;
margin-left: 180px;
        width: 150px;
        height: 200px;
    }
}