

.formulario main{
    background-image: url(/img/mandala1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;
    background-attachment: inherit;
}

.formulario main h2{
    color: black;
    text-align: center;
    font-family: var(--poppins);
    padding: 20px 0;
}

.formulario main form div{
    margin: 20px 10%;
}

.formulario main form div label{
    color: white;
    font-size: 18px;
    font-family: var(--poppins);
}

.formulario main form div input{
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.formulario main form button{
    width: 80%;
    padding: 10px;
    margin: 0 10%;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: var(--gris);
    font-family: var(--poppins);
}
.formulario main section{
    text-align: center;
}
.formulario main section h4{
    padding: 20px 0px;
}
.formulario main section div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.login main section div{
    padding: 40px 0;
}
.formulario main section div button{
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    font-size: 20px;
    font-family: var(--poppins);
}

@media (min-width: 426px) {
    .formulario main form{
        width: 80%;
        margin: 0 10%;
    }
    .formulario main form div label{
        width: 100%;
        font-size: 20px;
    }
    .formulario main form div input{
        font-size: 20px;
    }
    .formulario main button{
        width: 30%;
        font-size: 20px;
    }
    .formulario main section h4{
        font-size: 20px;
    }
}

@media (min-width: 769px){
    .formulario main form div{
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 50%;
    }
    .formulario main form div label{
        margin: 10px 0;
    }
    .formulario main form button{
        max-width: 50%;
        margin: 20px 25%;
    }
    .formulario main section div button{
        max-width: 20%;
    }
}