.formulario main {
    background-image: url(/img/bg-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;
    background-attachment: inherit;
}

.formulario main h2 {
    color: black;
    text-align: center;
    font-family: var(--poppins);
    padding: 20px 0;
}

.formulario main form div {
    margin: 20px 10%;
}

.formulario main form div label {
    color: black;
    font-size: 18px;
    font-family: var(--poppins);
}

.formulario main form div input {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.formulario main form button {
    width: 80%;
    padding: 10px;
    margin: 0 10%;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: var(--gris);
    font-family: var(--poppins);
}

.formulario main section {
    text-align: center;
}

.formulario main section h4 {
    padding: 20px 0px;
}

.formulario main section div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login main section div {
    padding: 40px 0;
}

.formulario main section div button {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    font-size: 20px;
    font-family: var(--poppins);
}

.formulario main form .user span div {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.formulario main form .user label {
    color: black;
}

.formulario main form .user span div {
    margin: 20px auto;
}

.formulario main form .user span div input {
    width: 30%;
    margin: auto 5px;
}

.formulario main form .user span div label {
    margin: 5px;
}


/* arreglar boton enviar  */
.formulario main form button.disable {
    opacity: 50%;
}

.formulario main form button.enviar {
    opacity: 100%;
}


.password {
    position: relative;
}


.ver {
    position: absolute;
    right: -30px;
    top: 5px;
    padding: 0px 5px;
}

.login main form div.recordar{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
}
.login main form div.recordar label{
    width: 40%;
    font-size: 18px;
}
.login main form div.recordar input{
    width: 10%;
    margin: auto 5px;
}

@media (min-width: 426px) {
    .formulario main form {
        width: 80%;
        margin: 0 10%;
    }

    .formulario main form div label {
        width: 100%;
        font-size: 20px;
    }

    .formulario main form div input {
        font-size: 20px;
    }

    .formulario main button {
        width: 30%;
        font-size: 20px;
    }

    .formulario main section h4 {
        font-size: 20px;
    }

    .formulario main form .user span {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px 0;
    }

    .formulario main form .user span div {
        margin: 0;
        width: 100%;
    }

    .formulario main form .user span div label {
        width: 50%;
    }
    .ver {
        right: -50px;
        top: 10px;
    }
}

@media (min-width: 769px) {
    .formulario main form div {
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 50%;
    }

    .formulario main form div label {
        margin: 10px 0;
    }

    .formulario main form button {
        max-width: 50%;
        margin: 20px 25%;
    }

    .formulario main section div button {
        max-width: 20%;
    }

    .ver {
        right: 5px;
        top: 50px;
    }
}