.users main .profile {
    margin: 30px auto;

}

.users main .profile .imagen, .users main .profile form div, .users main .profile H4{
    margin: 20px auto;
    text-align: center;
}

.users main .profile .imagen h1 {
    margin: 15px 0 10px;
}

.users main .profile div img {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    object-fit: cover;
}

.users main .profile div form div {
    width: 90%;
}


.users main .info .botones {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

.users main .info .botones .boton {
    width: 90%;
    margin: 10px auto;
}

.users main .boton a {
    width: 45%;
}

.users main .boton button {
    background-color: var(--naranja);
    color: white;
    border: none;
    width: 100%;
    padding: 15px 0px;
    border-radius: 5px;
}

.users main .boton button {
    background-color: var(--naranja);
    color: white;
    border: none;
    padding: 15px 0px;
    border-radius: 5px;
}

.users main .boton button:hover{
    color: var(--naranja);
    background-color: wheat
    ;
}

.edit main {
    text-align: center
}

.edit h3 {
    text-align: center
}

.edit form {
    width: 90%;
    margin: 0 auto;
}

.edit main .boton button {
    width: 100%;
}

.edit form div {
    margin: 20px 0;
}

.edit form div.user span{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (min-width: 426px) {
    .users main .profile {
        margin: 20px auto;
        /* display: flex; */
        width: 70%;
        justify-content: space-around;
    }

    .users main .botones form button {
        width: 90%;
    }

    .edit form {
        width: 60%;
        margin: 0 auto;
    }

    .edit main .boton button {
        width: 50%;
    }

}

@media (min-width: 769px) {


    .users main .profile {
        margin: 50px auto;
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .users main .profile div {
        width: 100%;
        margin: 15px 5%;
    }

    .users main .profile .imagen {
        width: 20%;
    }

    .users main .profile .info {
        width: 50%;
    }

    .users main .profile .info div img {
        height: 250px;
        width: 250px;
    }

    .users main .profile .info div form div {
        width: 80%;
    }

    .users main .info .botones{
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .users main .info .botones .boton{
        width: 32%;
        margin: 0;
    }

    .users main .info .botones .boton button{
        font-size: 14px;
    }

    .edit main .boton button {
        width: 80%;
    }

    .edit form div.user span{
        justify-content: space-evenly;
    }
}