.header-profile {
    display: none;
}

.header-profile img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    object-fit: cover;
}

.users main .profile {
    margin: 30px auto;

}

.users main .profile div {
    margin: 20px auto;
    text-align: center;
}

.users main .profile .imagen h1 {
    margin: 15px 0 10px;
}

.users main .profile div img {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    object-fit: cover;
}

.users main .profile div form div {
    width: 90%;
}

.users main .boton {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px 0;
}

.users main .boton a {
    width: 45%;
}

.users main .boton button {
    background-color: var(--naranja);
    color: white;
    border: none;
    width: 100%;
    padding: 15px 0px;
    border-radius: 5px;
}
.users main .boton button {
    background-color: var(--naranja);
    color: white;
    border: none;
    padding: 15px 0px;
    border-radius: 5px;
}

.users main .botones{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.users main .botones form{
    width: 100%;
}

.users main .botones form button{
    width: 100%;
}

.edit main{
    text-align: center
}

.edit h3{
    text-align: center
}

.edit form{
    width: 90%;
    margin: 0 auto;
}

.edit main .boton button{
    width: 100%;
}

.edit form div{
    margin: 20px 0;
}

@media (min-width: 426px) {
    .users main .profile {
        margin: 20px auto;
        /* display: flex; */
        width: 70%;
        justify-content: space-around;
    }

    .header-profile {
        display: block;
    }

    .users main .botones form button{
        width: 90%;
    }

    .edit form{
        width: 60%;
        margin: 0 auto;
    }

    .edit main .boton button{
        width: 50%;
    }

}

@media (min-width: 769px) {
    .header-profile img {
        width: 45px;
        height: 45px;
    }

    .users main .profile {
        margin: 50px auto;
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .users main .profile div {
        width: 100%;
        margin: 15px 5%;
    }

    .users main .profile .imagen{
        width: 20%;
    }

    .users main .profile .info{
        width: 50%;
    }

    .users main .profile .info div img{
        height: 250px;
        width: 250px;
    }

    .users main .profile .info div form div {
        width: 80%;
    }

    .users main .info .boton button {
        width: 100%;
        margin: 0;
    }

    .users main .botones{
        width: 100%;
        justify-content: space-around;
    }

    .edit main .boton button{
        width: 30%;
    }
}