<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Carrito de compras</title>
</head>

<body>
   
   <!-- Header -->
    <header>
        <img class="logo" src="/img/publicarte3.png" alt="logo-publicarte">
        <nav>
            <div class="burger-menu">
                <i class="fas fa-bars menu"></i>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="">Artesanos</a></li>
                <li><a href="">Productos</a></li>
            </ul>
            <div class="nav-bar">
                <form action=""><input type="search" placeholder="Buscar"><i class="fas fa-search"></i></i></form>
            </div>
            <div class="user-icon">
                <a href="/login"><i class="far fa-user"></i></a>
            </div>
            <div class="cart-icon">
                <a href="/cart"><i class="fas fa-cart-plus"></i></a>
            </div>
            <div class="header-button">
                <a href="/login"><button class="login">Ingresa</button></a>
                <a href="/register"><button class="register">Registrate</button></a>
            </div>
        </nav>
    </header>
   
    <!-- Main -->
   
    <main>
        <div class="start">
            <h3 class="first-tittle">Productos en su Carrito:</h3>
        </div>
        <section class="cart">
            <article class="container">
                <div class="item">
                    <img class="product-img" src="/img/florero-rosa.png" alt="florero-rosa">
                    <h4 class="tittle-img">Nombre del Producto</h4>
                </div>
                <div class="item2">
                    <!-- espacio para cantidad -->
                    <p class="product-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla temporibus architecto</p>
                </div>
                <div class="item3">
                    <i class="fas fa-trash-alt"></i>
                    <span class="price">$999,99</span>
                </div>
                
            </article>

            <article class="container">
                <div class="item">
                    <img class="product-img" src="/img/portaretrato-flor.png" alt="portaretrato-flor">
                    <h4>Nombre del Producto</h4>
                </div>
                <div class="item2">
                    <!-- espacio para cantidad -->
                    <p class="product-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla temporibus architecto</p>
                </div>
                <div class="item3">
                    <i class="fas fa-trash-alt"></i>
                    <span class="price">$999,99</span>
                </div>
            </article>

            <article class="total-product">
                 <a href=""><strong>Calcular Envío<i class="fas fa-arrow-right"></i></strong></a>
                 <span><strong>TOTAL CON ENVÍO:</strong></span>
                 <span class="price"><strong>$999,99</strong></span>
             </article>
                
            <div class="buttons"> 
                <button class="seguir-comprando">SEGUIR COMPRANDO</button>
                <button class="finalizar-compra">FINALIZAR COMPRA</button>
            </div>
        </section>
        <!-- Carousel -->
        <section class="carousel">

            <h2>Otros productos similares:</h2>
            <i class="fas fa-chevron-left"></i>
            <article class="slider1">
                <img src="/img/florero-blanco.png" alt="">
                <h4>Florero "Diamante"</h4>
                <p>$9,99</p>
            </article>
            <article class="slider2">
                <img src="/img/jarron.png" alt="">
                <h4>Florero "Machiatto"</h4>
                <p>$9,99</p>
            </article>
            <article class="slider3">
                <img src="/img/portaretrato-rosa.png" alt="">
                <h4>Portaretrato "Pinky pie"</h4>
                <p>$9.99</p>
            </article>
            <article class="slider4">
                <img src="/img/portaretrato-flor.png" alt="">
                <h4>Portaretrato "Amor mío"</h4>
                <p>$9,99</p>
            </article>
            <i class="fas fa-chevron-right"></i>
        </section>

    </main>

    <!-- Footer -->
    
    <footer>
        <img src="/img/publicarte2.png" alt="">

        <section>        
            <div>
            <ul>
                <li><a href="/register">Crear cuenta</a></li>
                <li><a href="/login">Iniciar sesión</a></li>
                <li><a href="">Información</a></li>
            </ul>
        </div>       
        <div>
            <ul>
                <li><a href="">Preguntas Frecuentes</a></li>
                <li><a href="">Términos y condiciones</a></li>
            </ul>
        </div>
        </section>
        <div class="redes">
            <h4>Seguinos en redes:</h4>
            <ul>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
            </ul>
        </div>
        <span class="derechos">©️2021 PublicArte</span>
    </footer>

    </footer>

</body>

</html>