<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css
    ">
    <title>Carrito de compras</title>
</head>

<body class="cart">
    <header>
        <img class="logo" src="/img/publicarte3.png" alt="logo-publicarte">
        <div class="burger-menu">
            <i class="fas fa-bars menu"></i>
        </div>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Artesanos</a></li>
                <li><a href="">Productos</a></li>
            </ul>
        </nav>
        <div class="nav-bar">
            <form action=""><input type="text" placeholder="Buscar"><i class="fas fa-search"></i></form>
        </div>

        <div class="user-icon"><i class="far fa-user"></i></div>
        <div class="cart-icon"><i class="fas fa-cart-plus"></i></div>

        <div class="header-button">
        <button class="login">Ingresa</button>
        <button class="register">Registrate</button>
        </div>
    </header>

</body>

</html>