<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css
    ">
    <title>Carrito de compras</title>
</head>

<body class="cart">
    <header>
        <img class="logo" src="/img/publicarte3.png" alt="logo-publicarte">
        <nav>
            <div class="burger-menu">
                <i class="fas fa-bars menu"></i>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="">Artesanos</a></li>
                <li><a href="">Productos</a></li>
            </ul>
            <div class="nav-bar">
                <form action=""><input type="search" placeholder="Buscar"><i class="fas fa-search"></i></i></form>
            </div>
            <div class="user-icon">
                <a href="/login"><i class="far fa-user"></i></a>
            </div>
            <div class="cart-icon">
                <a href="/cart"><i class="fas fa-cart-plus"></i></a>
            </div>
            <div class="header-button">
                <a href="/login"><button class="login">Ingresa</button></a>
                <a href="/register"><button class="register">Registrate</button></a>
            </div>
        </nav>
    </header>

</body>

</html>