<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Home</title>
</head>

<body>
    <header>
        <img class="logo" src="/img/publicarte3.png" alt="logo-publicarte">
        <nav>
            <div class="burger-menu">
                <i class="fas fa-bars menu"></i>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="">Artesanos</a></li>
                <li><a href="">Productos</a></li>
            </ul>
            <div class="nav-bar">
                <form action=""><input type="search" placeholder="Buscar"><i class="fas fa-search"></i></i></form>
            </div>
            <div class="user-icon">
                <a href="/login"><i class="far fa-user"></i></a>
            </div>
            <div class="cart-icon">
                <a href="/cart"><i class="fas fa-cart-plus"></i></a>
            </div>
            <div class="header-button">
                <a href="/login"><button class="login">Ingresa</button></a>
                <a href="/register"><button class="register">Registrate</button></a>
            </div>
        </nav>

    </header>
    <main>
<section class= "carrusel">
    


</section>







        
    </main>

    <footer>
        <img src="/img/publicarte2.png" alt="">
        <div>
            <ul>
                <li><a href="Crear cuenta">Crear cuenta</a></li>
                <li><a href="Iniciar sesión">Iniciar sesión</a></li>
                <li><a href="Registrate">Registrate</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="Información">Información</a></li>
                <li><a href="Preguntas Frecuentes">Preguntas Frecuentes</a></li>
                <li><a href="Terminos y condiciones">Terminos y condiciones</a></li>
            </ul>
        </div>
        <p>©️2021 PublicArte</p>
        <div>
            <ul>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
            </ul>
        </div>
    </footer>
</body>

</html>