<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="product-detail">
    <header>
        <img class="logo" src="/img/publicarte3.png" alt="logo-publicarte">
        <nav>
            <div class="burger-menu">
                <i class="fas fa-bars menu"></i>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="">Artesanos</a></li>
                <li><a href="">Productos</a></li>
            </ul>
            <div class="nav-bar">
                <form action=""><input type="search" placeholder="Buscar"><i class="fas fa-search"></i></i></form>
            </div>
            <div class="user-icon">
                <a href="/login"><i class="far fa-user"></i></a>
            </div>
            <div class="cart-icon">
                <a href="/cart"><i class="fas fa-cart-plus"></i></a>
            </div>
            <div class="header-button">
                <a href="/login"><button class="login">Ingresa</button></a>
                <a href="/register"><button class="register">Registrate</button></a>
            </div>
        </nav>
    </header>
    <main>
        <section class="product">
            <aside>
                <img class="img-product" src="/img/florero-rosa.png" alt="">
                <div>
                    <img class="img1" src="/img/florero-rosa.png" alt="">
                    <img class="img2" src="/img/florero-rosa.png" alt="">
                    <img class="img3" src="/img/florero-rosa.png" alt="">
                    <img class="img4" src="/img/florero-rosa.png" alt="">
                </div>
            </aside>
            <article class="detail">
                <h1>Florero "Rosetta"</h1>
                <div>
                    <button class="descrip-button">Descripción <i class="fas fa-chevron-right"></i></button>
                    <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, quia
                        doloremque repudiandae dicta enim natus dolores nesciunt ipsam minima et praesentium temporibus.
                        Dicta error fugiat temporibus reprehenderit eaque, accusamus dignissimos?</p>
                    <span class="description">Marca: Patito</span>
                </div>
                <div class="price">
                    <p>$500</p>
                    <span><i class="fas fa-minus"></i>1<i class="fas fa-plus"></i></span>
                    <button class="add-cart"><i class="fas fa-cart-plus"></i> + Añadir al carrito</button>
                </div>
                <a href="">Calcular envío <i class="fas fa-arrow-right"></i></a>
            </article>
        </section>
        <section class="carousel">

            <h2>Otros productos similares:</h2>
            <i class="fas fa-chevron-left"></i>
            <article class="slider1">
                <img src="/img/florero-blanco.png" alt="">
                <h4>Florero "Diamante"</h4>
                <p>$9,99</p>
            </article>
            <article class="slider2">
                <img src="/img/jarron.png" alt="">
                <h4>Florero "Machiatto"</h4>
                <p>$9,99</p>
            </article>
            <article class="slider3">
                <img src="/img/portaretrato-rosa.png" alt="">
                <h4>Portaretrato "Pinky pie"</h4>
                <p>$9.99</p>
            </article>
            <article class="slider4">
                <img src="/img/portaretrato-flor.png" alt="">
                <h4>Portaretrato "Amor mío"</h4>
                <p>$9,99</p>
            </article>
            <i class="fas fa-chevron-right"></i>
        </section>
        <section class="contact">
            <h1>Tenemos un lugar para cada necesidad</h1>
            <article>
                <h2>Soy productor</h2>
                <p>
                    ¿Estás a pleno materializando tu sueño en una pieza única?
                </p>
                <a href="">Ver más <i class="fas fa-arrow-right"></i></a>
            </article>
            <article>
                <h2>Soy cliente</h2>
                <p>
                    ¿Necesitas asesoramiento para la compra de un producto?
                </p>
                <a href="">Ver más <i class="fas fa-arrow-right"></i></a>
            </article>
            <article>
                <h2>Eventos</h2>
                <p>
                    ¿Haces eventos a los cuales participan muchos artesanos?
                </p>
                <a href="">Ver más <i class="fas fa-arrow-right"></i></a>
            </article>
        </section>
    </main>

    <footer>
        <img src="/img/publicarte2.png" alt="">
        <section>
            <ul>
                <li><a href="/register">Crear cuenta</a></li>
                <li><a href="/login">Iniciar sesión</a></li>
                <li><a href="">Información</a></li>
            </ul>
            <ul>
                <li><a href="">Preguntas Frecuentes</a></li>
                <li><a href="">Términos y condiciones</a></li>
            </ul>
        </section>
        <div class="redes">
            <h4>Seguinos en redes:</h4>
            <ul>
                <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/home"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
            </ul>
        </div>
        <span>©️2021 PublicArte</span>
    </footer>
    
</body>

</html>