<section class="contact">
    <h1>Tenemos un lugar para cada necesidad</h1>
    <article>
        <h2>Soy productor</h2>
        <p>
            ¿Estás a pleno materializando tu sueño de una pieza única?
        </p>
        <a href="/users/register">Ver más <i class="fas fa-arrow-right"></i></a>
    </article>
    <article>
        <h2>Soy cliente</h2>
        <p>
            ¿Estas interesado en adquirir nuestro productos?
        </p>
        <a href="/users/register">Ver más <i class="fas fa-arrow-right"></i></a>
    </article>
    <article>
        <h2>Contacto</h2>
        <p>
            ¿Necesitas atencion personalizada?
        </p>
        <a href="/aboutUs">Ver más <i class="fas fa-arrow-right"></i></a>
    </article>
</section>