<footer>
    <img src="/img/publicarte2.png" alt="">
    <section>        
        <ul>
            <li><a href="/users/register">Crear cuenta</a></li>
            <li><a href="/users/login">Iniciar sesión</a></li>
            <li><a href="">Información</a></li>
        </ul>
        <ul>
            <li><a href="/">Preguntas Frecuentes</a></li>
            <li><a href="/">Términos y condiciones</a></li>
        </ul>     
    </section>
    <div class="redes">
        <h4>Seguinos en redes:</h4>
        <ul>
            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/home"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
        </ul>
    </div>
    <span>©️2021 PublicArte</span>
</footer>
<script src="/javascript/burger-menu.js"></script>