<header>
    <a href="/" class="imagen">
        <img class="logo" src="/img/publicarte3.png" alt="logo-publicarte">
    </a>
    <nav>
        <button class="ham">
            <span class="menuIcon material-icons">
                <i class="fas fa-bars"></i>
            </span>
            <span class="xIcon material-icons">
                <i class="fas fa-times"></i>
            </span>
        </button>
        <ul class="menu">
            <li><a class="menuLink" href="/">Home</a></li>
            <li><a class="menuLink" href="/products">Productos</a></li>
            <li><a class="menuLink" href="/">Nosotros</a></li>
            <% if(locals.userLogged){ %>
            <li><a class="menuLink" href="/admin">Administrar</a></li>
            <% } %>
        </ul>
        <div class="nav-bar">
            <form action="/search" method="GET">
                <input type="search" name="keywords" id="keywords" placeholder="Buscar">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="cart-icon">
            <a href="/products/cart"><i class="fas fa-cart-plus"></i></a>
        </div>
        <% if(locals.isLogged){ %>
        <div class="header-profile">
            <a href="/users/profile">
                <img src="/img/users/<%= locals.userLogged.avatar %>" alt="">
                Hi <%= locals.userLogged.nombre %>
            </a>
        </div>
        <% } else { %>
        <div class="profile">
            <a href="/users/login"><i class="far fa-user"></i></a>
        </div>
        <div class="header-button">
            <a href="/users/login"><button class="login">Ingresa</button></a>
            <a href="/users/register"><button class="register">Registrate</button></a>
        </div>
        <% } %>
    </nav>
</header>