<header>
    <img class="logo" src="/img/publicarte3.png" alt="logo-publicarte">
    <nav>
        <div class="burger-menu">
            <i class="fas fa-bars menu"></i>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Artesanos</a></li>
            <li><a href="/">Productos</a></li>
            <li><a href="/admin">Administrador</a></li>
        </ul>
        <div class="nav-bar">
            <form action="/search"><input type="search" placeholder="Buscar"><i class="fas fa-search"></i></i></form>
        </div>
        <div class="cart-icon">
            <a href="/products/cart"><i class="fas fa-cart-plus"></i></a>
        </div>
        <% if(locals.isLogged){ %>
        <div class="header-profile">
            <a href="/users/profile">
                <img src="/img/users/<%= locals.userLogged.avatar %>" alt="">
                Hi <%= locals.userLogged.nombre %>
            </a>
        </div>
        <% } else { %>
        <div class="header-button">
            <a href="/users/login"><button class="login">Ingresa</button></a>
            <a href="/users/register"><button class="register">Registrate</button></a>
        </div>
        <% } %>
    </nav>
</header>