<section class="carousel">
    <h2>Otros productos similares:</h2>
    <div>
        <i class="fas fa-chevron-left"></i>
        <% for(i=0; i<4;i++){ %>
        <article class="slider1">
            <a href="/products/detail/<%=similarProducts[i].id%> ">
                <img src="/img/products/<%= similarProducts[i].imagen %> " alt="">
                <h4><%= similarProducts[i].titulo %></h4>
                <p>$<%= similarProducts[i].precio %></p>
            </a>
        </article>
        <% } %>
        <i class="fas fa-chevron-right"></i>
    </div>
</section>