<section class="carousel">
    <h2>Otros productos similares:</h2>
    <div>
        <i class="fas fa-chevron-left"></i>
        <% for(i=0; i<4;i++){ %>
        <article class="slider1">
            <a href="/products/detail/<%=products.id%> ">
                <img src="/img/products/<%= products.images %> " alt="">
                <h4><%= products.name %></h4>
                <p>$<%= products.price %></p>
            </a>
        </article>
        <% } %>
        <i class="fas fa-chevron-right"></i>
    </div>
</section>