<!DOCTYPE html>
<html lang="en">
<!-- Head -->
    <%- include('./../partial/head') %> 

<body class="formulario">
<!-- Header -->
    <%- include('./../partial/header') %>

<!-- Main -->     
    <main>
        <h2>¡Crea tu cuenta!</h2>
        <form action="/register">
            <div>
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder="Ingrese nombre...">
            </div>
            <div>
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido" placeholder="Ingrese apellido...">
            </div>
            <div>
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="Ingrese e-mail">
            </div>
            <div>
                <label for="contrasenia">Contraseña</label>
                <input type="password" name="contrasenia" id="contrasenia" placeholder="Ingrese contraseña...">
            </div>
            <button type="submit">Crear cuenta</button>
        </form>
        <section>
            <h4>Ó crea tu cuenta con:</h4>
            <div>
                <button><i class="fab fa-google"></i> Google</button>
                <button><i class="fab fa-facebook"></i> Facebook</button>
            </div>
        </section>
    </main>
<!-- Footer -->
    <%- include('./../partial/footer') %>

</body>

</html>