<html lang="en">
<!-- Head -->
<%- include('./partial/head') %>

<body class="home">
    <!-- Header -->
    <%- include('./partial/header') %>

    <!-- Main -->
    <main class="aboutUs">
        <section class="father">
            <article class="photo"><img src="/img/NosotrosBanner.jpeg" alt="NosotrosBanner"></article>
       <br> 
       
        <article class="son">
            <h2 class="aboutUs-title">¿QUÉ ES PUBLICARTE?</h2>
            
        <br>
            <p class="read">Es una tienda online que acerca a las personas, amante de las creaciones hechas a mano, productos únicos con el valor de la historia del artesano que las crea. Creamos un puente entre las manos creadoras hasta el hogar de cualquier persona en la Argentina...</p>
        </article>
        <br>
        <article class="son">
            <h2 class="aboutUs-title">APOYAMOS A CREADORES INDEPENDIENTES</h2>
         <br>
            <p class="read">Nosotros facilitamos todo el proceso y te ayudamos a conectar directamente con creadores para que encuentres productos extraordinarios.</p>
        </article>
    </section>

    <%- include('./partial/contact.ejs') %>

    </main>


    <!-- Footer -->
    <%- include('./partial/footer') %>

</body>

</html>