<html lang="en">
<!-- Head -->
<%- include('./partial/head') %>

<body class="home">
    <!-- Header -->
    <%- include('./partial/header') %>

    <!-- Main -->
    <main>
        <section>
            <img src="/img/NosotrosBanner.jpeg" alt="NosotrosBanner" width="1110px" height="388px">
       <br> 
       
        <article>
            <h2>¿QUÉ ES PUBLICARTE?</h1>
        <br>
            <h2>Es una tienda online que acerca a las personas, amante de las creaciones hechas a mano, productos únicos con el valor de la historia del artesano que las crea. Creamos un puente entre las manos creadoras hasta el hogar de cualquier persona en la Argentina...</h2>
        </article>
        <br>
        <article>
            <h2>APOYAMOS A CREADORES INDEPENDIENTES</h2>
         <br>
            <h2>Nosotros facilitamos todo el proceso y te ayudamos a conectar directamente con creadores para que encuentres productos extraordinarios.</h2>
        </article>
    </section>

    <%- include('./partial/contact.ejs') %>

    </main>


    <!-- Footer -->
    <%- include('./partial/footer') %>

</body>

</html>