<html lang="en">
<!-- Head -->
<%- include('./partial/head') %>

<body class="home">
    <!-- Header -->
    <%- include('./partial/header') %>

    <!-- Main -->
    <main>
        <section>
        <article><h1>¿Qué es Publicarte?</h1>
        <br>
        <h2>Es una tienda online que acerca a las personas, amante de las creaciones hechas a mano, productos únicos con el valor de la historia del artesano que las crea. Creamos un puente entre las manos creadoras hasta el hogar de cualquier persona en la Argentina...</h2>
        </article>

        <article>
            <h3>APOYAMOS A CREADORES INDEPENDIENTES</h3>
            <h4>Nosotros facilitamos todo el proceso y te ayudamos a conectar directamente con creadores para que encuentres productos extraordinarios.</h4>
        </article>
    </section>

    <%- include('./partial/contact.ejs') %>

    </main>


    <!-- Footer -->
    <%- include('./partial/footer') %>

</body>

</html>