<html lang="en">
<!-- Head -->
<%- include('./partial/head') %>

<body class="home">
    <!-- Header -->
    <%- include('./partial/header') %>

    <!-- Main -->
    <main>
       <section> 
        <h1>Términos y condiciones para Usuarios Publicarte</h1>

<p>El presente contrato describe los términos y condiciones generales (los "Términos y Condiciones Generales") aplicables al uso de los productos ofrecidos por los Usuarios Proveedores dentro del sitio www.publicarte.com.ar ("Publicarte") propiedad de MECQ Software S.R.L., CUIT 30-64580809-2, ("MECQ"). Toda persona de cualquier naturaleza (“el Usuario” o los “Usuarios”) que accedan y/o utilicen el Sitio podrá hacerlo sujetándose a los Términos y Condiciones Generales respectivos, junto con todas las demás políticas contenidas en el Sitio. El mismo describe los derechos, responsabilidades y obligaciones de las Partes que se originan o surgen como consecuencia del acceso y del uso de Terracuna por parte del Usuario.

El Usuario declara entender, conocer y aceptar los Términos y Condiciones, los cuales son obligatorios y vinculantes para las Partes. De no aceptar los Términos y Condiciones, el Usuario debe abstenerse de darse de alta y operar en Publicarte.

El Usuario expresamente acepta que la documentación e información relacionada con estos Términos y Condiciones (incluyéndolos) tenga exclusivamente soporte electrónico.

1.Definiciones.

Publicarte: Es un sitio e-commerce que su propietario pone a disposición de los Productores y de los Consumidores Finales, todos ellos Usuarios, a los fines de ofrecer la posibilidad de realizar compras a través de Internet, de los productos especialmente ofrecidos en esta modalidad y que son publicitados en el Sitio de Internet: www.terracuna.com. En este caso puede identificar al Sitio web o bien a su propietario y/o administrador.

Registro: implica la aceptación de poder registrarse como usuario del sitio ecommerce como Usuario Productor y/o Usuario Consumidor y acceder mediante usuario validado y contraseña creada por éstos, privada e intransferible, asociada a su email, y Nombre del Comercio que el mismo posee para comercializar sus producciones y/o adquirir productos.

E-mail del Usuario es la dirección de correo electrónico que el Productor o quien lo representa declara ante Terracuna. Este correo es una casilla válida para realizar cualquier tipo de notificación que deba realizarse en virtud de los presentes Términos y Condiciones.

MECQ SOFTWARE SRL.: es una sociedad de responsabilidad limitada regularmente constituida en la República Argentina, CUIT 30-70760903-2, con domicilio comercial en Jacobo Joule  Nro. 5578 de la Ciudad de Córdoba, Provincia de Córdoba, en la República Argentina.

Usuarios Finales: personas humanas que realizan en el Sitio transacciones de compra. Los Usuarios Finales deberán ser mayores de 18 años y poseer capacidad para contratar en su nombre.

Usuarios Productores /Proveedores: son personas físicas o jurídicas con capacidad legal para contratar que siendo productores de bienes los ofrecen al público en el Sitio.

En todos los casos no podrán ser Usuarios Productores o Finales los menores de edad, los que no tienen capacidad para contratar y/o quienes hayan sido suspendidos temporalmente o inhabilitados definitivamente para acceder u operar en el Servicio.

2. Habilitación para operar en el Sitio del Usuarios.

Únicamente podrán ser Usuarios quienes completen todos y cada uno de los campos con datos válidos, verdaderos y exactos requeridos en el Sitio en carácter de obligatorios (“los Datos”). Dichos Datos deberán ser actualizados en cada oportunidad que un dato informado resulte modificado, asumiendo el Usuario formal obligación al respecto. Terracuna no garantiza la exactitud ni veracidad de los Datos aportados por sus Usuarios, no asumiendo ninguna responsabilidad al respecto.

Quienes se registren como Usuarios Proveedores a efectos de hacer en el Sitio oferta al público de sus productos y eventualmente concertar operaciones de compraventa, deberán una vez generado su Usuario, solicitar una “Cuenta de Proveedor” optando en tal oportunidad por el/los modelo/s  de negocio y suscribiendo mediante su aceptación los términos y condiciones respectivas. El Usuario Productor acepta que, para poder operar, deberá ser previamente autorizado y habilitado, suscribiéndose en cada oportunidad a las condiciones relativas a planes y beneficios, reservándose el proceso de verificación de datos a su sola discreción, pudiendo inclusive suspender Usuarios que no hayan podido ser validados.

El Usuario accederá a su cuenta personal ("Cuenta") mediante el ingreso del correo electrónico suministrado y clave de seguridad personal elegida ("Clave de Seguridad"). El Usuario se obliga a mantener la confidencialidad de su Clave de Seguridad.

La Cuenta es personal, única e intransferible, y está prohibido que un mismo Usuario registre o posea más de una Cuenta. El Sitio se reserva el derecho a dar de baja o suspender las cuentas que posean los mismos datos personales. En todo momento el Usuario será responsable por el uso y confidencialidad de su Cuenta. En tal sentido, el Usuario será responsable de todas las operaciones efectuadas en la misma. En cualquier caso de acceso no autorizado o pérdida de condiciones de confidencialidad el Usuario deberá notificar de inmediato a Terracuna. El Sitio se reserva el derecho de admisión o permanencia en Terracuna a su solo arbitrio.

3. Operatoria en el Sitio para Proveedores.

El Proveedor una vez autorizado y habilitado según lo establecido en el apartado anterior, ofrecerá sus productos en el sitio “www.terracuna.com”, donde el público en general, a través de un Usuario Final, tendrá la posibilidad de adquirirlos y abonarlos mediante las formas de pagos indicados en dicho Sitio y escoger modo de retiro o recepción de su compra mediante las opciones puestas a disposición.

La forma de hacer efectiva la venta está dada por el planteo de tres modelos de negocio a los Productores: Comisionable, Acopio y Comisión, Acopio y Consignación. El Productor deberá escoger la modalidad para cada producto y aceptar los términos y condiciones correspondientes a cada uno de ellos.

Realizada y autorizada una operación en “www.terracuna.com”, el Proveedor recibirá la notificación al correo electrónico  a fin de que, de acuerdo a la modalidad elegida instrumente los medios para su entrega. El Productor se compromete a actualizar el estado del pedido, del transporte y entrega de los productos y por lo tanto, también de acordar con el correo o transportista que designe, el envío del producto o su recupero y/o anulación, en los plazos que correspondan. Si el usuario optara por utilizar el envío que ofrece Terracuna, se regirá por las condiciones establecidas por éste. Las ventas sólo se realizarán dentro del Territorio de la República Argentina, excepto Tierra del Fuego

4.  Condiciones de productos para exponer a la venta. Operación. 

Las mercaderías ofrecidas en el Sitio que ofrezcan los Productores deben ser de libre comercialización  y cumplir acabadamente las normas regulatorias correspondientes, como así también observar el estricto cumplimiento de las normas que habilite al Usuario y/o a los productos para ser utilizados sin perjuicio alguno por parte del Usuario y en caso de corresponder aptos para el consumo humano.

En todos los casos es responsabilidad del Proveedor la calidad, identidad, características, certificados, habilitaciones, registros, permisos, y autorizaciones para comercializar cualquier producto. En este sentido el Proveedor se compromete a mantener indemne a Terracuna de cualquier reclamo que efectuara un Usuario Consumidor o cualquier tercero por los defectos, devoluciones, falta de identidad, producto no apto para consumo humano o animal o cualquier daño o perjuicio que sufriera un tercero con el uso o consumo del producto comercializado por el Proveedor. Dicha enunciación es meramente enunciativa.

La publicación de productos requiere la previa aprobación de Terracuna, pudiendo no autorizar los mismos cuando éstos de cualquier modo lesionen derechos del Sitio, de terceros, la moral pública o privada, las buenas costumbres, entre otros. Asimismo el Productor es responsable de respetar los precios informados a los Usuarios Consumidores y deberá respetar éstos y toda la normativa prevista en el Código Civil y Comercial de la Nación relativa a derecho de consumo así como también en la Ley de Derecho del Consumidor.

Es obligación del Productor revisar periódicamente y responder las consultas recibidas, relativas a stock, características de productos, etc.

Queda prohibida la venta u ofrecimiento a tal fin de productos ilegales, contrarios a la moral o las buenas costumbres, de origen ilícito, así como también a modo ejemplificativo: estupefacientes, medicamentos recetados, armas, falsificaciones, moneda de cualquier tipo, productos financieros, de azar, datos personales, servicios turísticos o seguros, tabaco,  etc. Todo producto no autorizado legalmente para su comercialización queda prohibido su ofrecimiento. Si tenés dudas si podés comercializar un producto también podes contactarte con nosotros.

Las publicaciones podrán incluir fotografías o textos descriptivos del producto. Siempre la descripción deberá ser exacta y no engañosa o parcial, a efectos de que la voluntad del Usuario Final al aceptar sea coincidente con el producto ofrecido en Terracuna. Los precios expresados en el Sitio siempre deberán ser en moneda de curso legal e incluir iva y ser finales a consumidores no pudiéndose adicionar otros conceptos, salvo costo de envío si correspondiese que también deberá explicitarse. Ninguna publicación podrá indicar datos de contacto. La violación por parte del Proveedor de cualquiera de estas disposiciones autoriza a Terracuna a removerla o bien suspender el uso de la plataforma.

Aceptando los presentes términos y condiciones también el Proveedor autoriza de modo irrevocable, gratuito, no exclusivo, y perpetuo a Terracuna a publicar, reproducir y/o modificar imágenes, información, descripción, marca, logos, enseñas, nombre comercial y/o cualquier distintivo de sus productos amparado o no bajo leyes de propiedad intelectual para la adecuada difusión del producto en el Sitio o en otros medios de comunicación, redes sociales, aplicaciones siempre vinculadas a Terracuna que ésta disponga.

El Usuario Proveedor será el único responsable por ser el titular de las imágenes, marcas, logos y/o cualquier otra información que tenga protección por las leyes de propiedad intelectual o derechos de autor o contar con autorización de su titular, obligándose a mantener indemne a Terracuna al respecto.

En virtud de que Terracuna es solamente un punto de encuentro entre Usuarios Consumidores y Usuarios Proveedores y sólo brinda el espacio a tal efecto sin participar de las transacciones que se realizan entre ellos, el Proveedor será responsable de todas las obligaciones impositivas correspondientes por la comercialización de productos, liberándose a Terracuna de toda responsabilidad al respecto, salvo que Terracuna informe expresamente estar obrando por cuenta propia o de terceros.

El Proveedor toma conocimiento del derecho de retracto de operaciones comerciales ocurridas por la intermediación de tecnología como Terracuna, en los términos de la legislación vigente tomando a su cargo el cumplimiento de la misma.

5. Operatoria en el Sitio para Usuarios Consumidores.

Los Usuarios Consumidores podrán efectuar una oferta por los productos ofrecidos por los Proveedores en el Sitio. La oferta de productos quedará cerrada cuando venza el plazo de publicación o cuando se agote el stock lo que ocurra primero.

Sin perjuicio del derecho de retracto, la oferta se considerará irrevocable y el Usuario Consumidor quedará obligado por las condiciones de la oferta y los presentes términos y condiciones. El Usuario Consumidor tendrá derecho a exigir del Proveedor comprobante válido y legal de venta, ajustado a la legislación fiscal e impositiva vigente.

6) Prohibiciones.

Se le prohíbe terminantemente al Usuario:

(a) enviar archivos o cualquier tipo de información cuyo contenido sea ilegal, obsceno, abusivo, difamatorio, injurioso o contrario a las buenas costumbres (la presente enumeración es meramente ejemplificativa);

(b) enviar archivos que contengan virus o cualquier otra característica capaz de dañar el funcionamiento de cualquier dispositivo, del Sitio o del sistema;

(c) utilizar el Sitio para violar cualquier tipo de norma vigente;

(d) consignar datos falsos o inexactos al momento de registrarse o realizar una compra, o en cualquier otro momento en que les sea requerida cualquier tipo de información o datos personales;

(e) usar programas, software o aparatos automáticos o manuales para monitorear o copiar la información o cualquier tipo de contenido del Sitio; como así tampoco para interferir en la operatoria general de Terracuna.

(f) realizar cualquier actividad que interfiera, interrumpa o pudiera interferir o interrumpir, la operación del Sitio.

(g) manipular los precios de los productos y/o mantener comunicaciones por fuera de los canales habilitados a tal efecto por Terracuna y/o dar a conocer datos personales a tal fin.

(h) Sanciones: Sin perjuicio de otras medidas, el abuso, uso indebido de los elementos del Sitio, el incumplimiento de lo establecido en los presentes Términos y Condiciones, o el fraude producirá la baja automática del Usuario, sin derecho a reclamo, indemnización o resarcimiento de ningún tipo. Ello no obstará a que Terracuna ejercite las acciones legales que pudieran corresponder. El Usuario dado de baja de conformidad con lo normado en esta sección, no podrá solicitar su reincorporación o alta por un plazo de un (1) año a contar desde la baja o mayor plazo que Terracuna determine dependiendo la gravedad de la acción a su sola discreción. Todo ello sin perjuicio de las acciones que por derecho correspondan a Terracuna.

7. Derechos de propiedad intelectual.

Todo el material y contenidos publicados en el Sitio (incluyendo sin limitación, textos, software, gráficos, fotografías, audio, música, videos, contenidos interactivos y similares, marcas y logos) pertenecen a Terracuna o ésta tiene derecho a usarlo en virtud de licencias de uso y se encuentra protegido por legislación nacional e internacional. Queda terminantemente prohibida su utilización, reproducción o explotación en cualquier forma y por cualquier medio sin la autorización previa y expresa de Terracuna. Si el Usuario considera que en el Sitio se viola o atenta de algún modo contra derechos de propiedad intelectual de terceros, deberá notificarlo Terracuna en la dirección indicada en los presentes términos y condiciones generales, acompañando toda la información y documentación necesaria que respalde la mencionada consideración.

En relación a la propiedad intelectual y/o derecho de autor de terceros, ante el mero reclamo de un tercero de que se hubiere vulnerado un derecho propietario, Terracuna procederá a la remoción de dicha información a su solo arbitrio, no asistiendole derechos al Usuario Proveedor a reclamos de ninguna índole, debiendo además asumir las responsabilidades que pudieran originarse de esta situación.

8) Privacidad de la Información y Protección de Datos Personales.

a) Política de Privacidad

La presente Política de Privacidad (la “Política”) ha sido redactada por Terracuna en función de las disposiciones de la ley 25.326 (Protección de los Datos Personales), normas reglamentarias, complementarias y modificatorias y en relación con el Sitio.

Los datos personales recolectados por Terracuna a través del Sitio tienen la finalidad de permitir la operatoria del Sitio y el giro comercial de ésta, así como acciones de marketing, publicidad y segmentación de datos con fines comerciales, promocionales, mejoras del Sitio y comercialización. Los datos personales recolectados no serán difundidos ni empleados para un fin distinto o incompatible al tenido en cuenta al ser ingresados en la base de datos. Terracuna realizará los esfuerzos necesarios a fin de que los datos personales que le sean proporcionados sean resguardados con la protección adecuada a fin de mantener su confidencialidad, seguridad e integridad.

Terracuna no revelará ni cederá los datos personales recabados a ninguna otra empresa, organización o persona, sin el previo consentimiento del titular de los datos que corresponda, excepto (i) a requerimiento de entidades gubernamentales, nacionales, provinciales y/o municipales con facultades suficientes para requerir dicha información,

(ii) mediante transferencia internacional a compañías relacionadas de Terracuna en relación con el cumplimiento de los fines para los cuales fueron recolectados los datos personales objeto de dicha transferencia; (iii) a terceros a fin de que el Usuario reciba oferta de productos, servicios y/o promocionales; (iv) a empresas procesadoras de pagos a fin de permitir la gestión y procesamiento de los cobros y pagos que se realicen a través del Sitio.  Terracuna se reserva el derecho de modificar la Política en cualquier momento con la finalidad de adaptarla a cualquier modificación en la normativa aplicable.

b) Protección de Datos Personales

El Usuario presta su consentimiento libre y expreso al propietario de Terracuna para que éste recolecte y almacene en su base de datos los datos personales del Usuario proporcionados en el momento de su alta como Usuario, así como los que actualice durante el uso del Sitio, y para que utilice los datos personales con fines publicitarios. El Usuario comprende y acepta que la provisión de sus datos personales es condición necesaria para la utilización del Sitio. El Usuario presta también su consentimiento libre y expreso a al propietario de Terracuna a fin de que ésta pueda ceder (incluyendo la transferencia internacional de datos a compañías relacionadas con Terracuna) los datos personales del Usuario a terceros para su tratamiento y en relación con el cumplimiento de los fines para los cuales fueron recolectados. El Usuario declara que los datos que proporciona son adecuados, completos y veraces, y comprende que proporcionar datos inadecuados o incompletos, o directamente no proporcionarlos, podría imposibilitar o dificultar su relación con Terracuna o incluso su baja o suspensión del Sitio. El Usuario presta su consentimiento libre y expreso a la utilización de sus datos personales para las finalidades indicadas. Los datos personales recolectados serán tratados en un todo conforme los términos de la Ley Nacional de Protección de Datos Personales 25.326 y normas complementarias. No serán difundidos ni empleados para un fin distinto o incompatible al tenido en cuenta al ser ingresados en la base de datos. Asimismo, Terracuna informa que realiza sus mejores esfuerzos a través de mecanismos de protección de la información a fin de mantener la confidencialidad de la misma. Los Usuarios podrán solicitar a Terracuna la actualización, rectificación o supresión de sus datos personales. A tal fin, deberán dirigirse a MECQ Software S.A. por correo electrónico (info@terracuna.com.ar). Información requerida por normas legales: El titular podrá, en cualquier momento, solicitar el retiro o bloqueo de su nombre de los bancos de datos a los que se refiere el presente artículo (Ley 25.326 art. 27, inciso 3). En toda comunicación con fines de publicidad que se realice por correo, teléfono, correo electrónico, internet u otro medio a distancia a conocer, se deberá indicar, en forma expresa y destacada, la posibilidad del titular del dato de solicitar el retiro o bloqueo, total o parcial, de su nombre de la base de datos. A pedido del interesado, se deberá informar el nombre del responsable o usuario del banco de datos que proveyó la información (Decreto 1558/2001 art. 27, párrafo 3). El titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto conforme lo establecido en el artículo 14, inciso 3 de la Ley No 25.326. La Agencia de Acceso a la Información Pública, en su carácter de Órgano de Control de la Ley No 25.326, tiene la atribución de atender las denuncias y reclamos que interpongan quienes resulten afectados en sus derechos por incumplimiento de las normas vigentes en materia de protección de datos personales.

c) Cookies y/o programación Javascript y Flash. Eventualmente, el Sito puede utilizar cookies que se instalarán en el dispositivo que utilice el Usuario al navegar por el Sitio. Las cookies tienen por finalidad facilitar la navegación del Usuario por el Sitio, y proporcionar a Terracuna información que le ayudará a mejorar el Sitio y sus contenidos. En ningún caso las cookies utilizadas por el Sitio proporcionarán información de seguridad personal del Usuario, quien, en relación con las mismas, mantendrá pleno anonimato, aun frente a Terracuna, dado que tampoco suministran información tendiente a la individualización del Usuario. El Usuario tiene la opción de impedir la utilización mediante la selección de la correspondiente opción en su navegador, si bien, la desactivación de las mismas, puede impedir el buen funcionamiento de la página.

9) Modificaciones a los Términos y Condiciones.

Terracuna se reserva el derecho de modificar los Términos y Condiciones, en cualquier momento y por cualquier motivo. Tal circunstancia será comunicada al correo electrónico informado por el Usuario y/o mediante publicaciones en el Sitio, siendo la vía de comunicación elección exclusiva de Terracuna. Para las transacciones en curso enviadas al Sitio con anterioridad a la implementación de dichas modificaciones, subsistirán los términos y condiciones vigentes al momento de su concertación, a menos que la modificación se deba a normativa de orden público. En dicho caso, las modificaciones se aplicarán según lo establezca dicha normativa.

10) Alcance del Servicio prestado en el Sitio.

El Sitio brinda el espacio para que Usuarios se conecten y concierten operaciones de compraventa de productos. En consecuencia de lo expuesto, dicho servicio no puede ser interpretado en ningún caso como mandato, sociedad, relación laboral, franquicia ni ninguna otra modalidad que no esté claramente explicitada entre las partes. Especialmente el Usuario Consumidor se notifica y comprende por el presente, que Terracuna no tiene facultades ni control sobre el Usuario Proveedor, ni sus anuncios, productos, capacidad, identidad, solvencia, y no garantiza la legitimidad, origen, legalidad, identidad de las personas, empresas y/o productos que operan a través del Sitio.

11) Responsabilidad por Sitio. 

Terracuna no asegura que el Sitio funcionará ininterrumpidamente ni que estarán libres de errores, ya que podría estar no disponible en ciertos momentos por razones de mantenimiento o dificultades técnicas.  Terracuna no asume ninguna otra responsabilidad ni otorga ninguna otra garantía expresa o implícita respecto de las consecuencias dañosas que eventualmente puedan derivar a los Usuarios o a terceros de la utilización o no funcionamiento del Sitio.  Terracuna no será responsable en ningún caso del lucro cesante que pudiera sufrir el Usuario o un tercero por el uso del Sitio. Tampoco de cualquier daño o perjuicio ocasionados por fallas de sistemas, aplicaciones con las que interactúe, virus, servidores y/o internet.

12) Indemnidad.

El Usuario mantendrá indemne a Terracuna, así como a sus filiales, empresas controladas y/o controlantes, funcionarios, directivos, sucesores, administradores, representantes y empleados, por cualquier reclamo iniciado por otros Usuarios, terceros o por cualquier Organismo, relacionado con sus actividades en el Sitio, el cumplimiento y/o el incumplimiento de los Términos y Condiciones Generales o demás Políticas, así como respecto de cualquier violación de leyes o derechos de terceros.

A tal fin, el Usuario faculta a Terracuna a intervenir y representarlo en dichos reclamos, pudiendo celebrar los acuerdos transaccionales que considere oportunos y que tiendan a evitar mayores costos y/o evitar eventuales contingencias sin limitación, en su nombre y representación.

13) Jurisdicción y Ley Aplicable.

Los presentes términos y condiciones se encuentran regidos sin excepción y en todos sus puntos por las leyes de la República Argentina, sometiéndose a la Jurisdicción Ordinaria de la Justicia de Córdoba.</p> 
</section>

    <%- include('./partial/contact.ejs') %>

    </main>


    <!-- Footer -->
    <%- include('./partial/footer') %>

</body>

</html>