<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partial/head') %>

<body class="home">
    <!-- Header -->
    <%- include('./partial/header') %>

    <!-- Main -->
    <main>
        <section class="carrusel">
            <img src="/img/carrucel1.jpg" alt=" imagen de vasijas">
            <div class="contenido">
                <h3>El arte en tus manos</h3>
                <p>Los mejores productos hechos a mano por maestros artesanos.</p>
                <button>Descubre nuestra colección</button>
            </div>

        </section>

        <section class="botones">
            <ul>
                <li><a href=""><i class="fas fa-shipping-fast"></i> Envios a domicilio</a>
                </li>
                <li><a href=""><i class="far fa-comments"></i> Atención personalizada</a>
                </li>
                <li><a href=""><i class="fas fa-tags"></i></i> Ofertas especiales</a>
                </li>
                <li class="botoncontacto"><a href=""><i class="far fa-question-circle"></i> Contacto</a>
                </li>
            </ul>
        </section>

        <section class="productosDestacados">
            <h2>Productos Destacados</h2>
            <div class="articulos">
                <article>
                    <img src="/img/florero-blanco.png" alt="">
                    <h4>nombre del producto</h4>
                    <p>$333,33</p>
                </article>
                <article>
                    <img src="/img/florero-rosa.png" alt="">
                    <h4>nombre del producto</h4>
                    <p>$333,33</p>
                </article>
                <article>
                    <img src="/img/jarron.png" alt="">
                    <h4>nombre del producto</h4>
                    <p>$333,33</p>
                </article>
                <article>
                    <img src="/img/portaretrato-flor.png" alt="">
                    <h4>nombre del producto</h4>
                    <p>$333,33</p>
                </article>
                <article class="slider1">
                    <img src="/img/florero-blanco.png" alt="">
                    <h4>nombre del producto</h4>
                    <p>$333,33</p>
                </article>
                <article class="slider1">
                    <img src="/img/florero-rosa.png" alt="">
                    <h4>nombre del producto</h4>
                    <p>$333,33</p>
                </article>
                <article class="slider2">
                    <img src="/img/jarron.png" alt="">
                    <h4>nombre del producto</h4>
                    <p>$333,33</p>
                </article>
                <article class="slider2">
                    <img src="/img/portaretrato-flor.png" alt="">
                    <h4>nombre del producto</h4>
                    <p>$333,33</p>
                </article>
            </div>
        </section>

        <section class="contenidoAmistad">
            <div>
                <a href="">Especial Día de la Amistad</a>
                <img src="/img/portaretrato-rosa.png" alt="">
            </div>
        </section>

        <%- include('./partial/contact.ejs') %> 
        
    </main>

    <!-- Footer -->
    <%- include('./partial/footer') %>

</body>

</html>