<html lang="en">
<!-- Head -->
<%- include('./partial/head') %>

<body class="home">
    <!-- Header -->
    <%- include('./partial/header') %>

    <!-- Main -->
    <main>
       <section> 
           <h1>Preguntas Frecuentes</h1>
        <br>
           <h2>Información General</h2>
           <h3>Qué es Publicarte.com.ar?</h3>
           <p>Es una tienda online que acerca a las personas, amante de las creaciones hechas a mano, productos únicos con el valor de la historia del artesano que las crea. Creamos un puente entre las manos creadoras hasta el hogar de cualquier persona en la Argentina...</p>
        <br>
           <h2>Cuenta con tiendas físicas?</h2>
           <p>Actualmente no disponemos de tiendas físicas, todas las ventas se realizan a través de esta tienda online.</p>
        <br>
           <h2>Cuáles son los métodos de envío?</h2>
           <p> El plazo de entrega estimado es dentro de los 10 días hábiles. Este plazo comienza a ser contabilizado una vez que el envío esté en manos de la empresa de encomiendas.</p>
        <br>
           <h2>Cómo realizo una compra?</h2>
           <p>Comprar en PUBLICARTE.COM.AR es muy sencillo: Navega nuestra Tienda desde tu computadora, tablet o Móvil y elegí las prendas que querés comprar. Registrate y seleccioná el producto y la cantidad, y agregálas a tu carrito de compras. Completá tu dirección de facturación y de envío. Si ya tienes creada una cuenta inicia sesión con tu email y contraseña. Realizá una última revisión del resumen de tu pedido y chequeá que toda la información sea correcta. Si querés hacer algún cambio, podes hacer click en “Editar Carrito”. Si estás conforme con el pedido, hace click en “FINALIZAR COMPRA”. Elegí el método de envío más conveniente y selecciona el medio de pago. Recibirás en tu casilla de correo electrónico un mail de confirmación con todos los datos de tu pedido. Por cualquier consulta, escribinos a: publicarte@gmail.com.ar</p>
        <br>
           <h2>Cuál es el costo de la entrega?</h2>
           <p>El valor de la entrega será indicado durante su compra, antes de que el pedido sea finalizado. Este costo corre por cuenta de nuestros clientes, excepto en los casos en que Movible esté haciendo una acción promocional.</p>
        <br>
           <h2>Cuáles son los medios de pago?</h2>
           <p>En publicarte.com.ar se puede realizar el pago a través de Mercado Pago, por medio de tarjeta de crédito y cupón de pago. El sistema de cobranza a través de tarjeta de crédito es 100% seguro. Los números son "Encriptados" y no sufren ningún tipo de amenaza en nuestro banco de datos, siendo enviados directamente a la administradora de la tarjeta de crédito.</p> 
</section>

    <%- include('./partial/contact.ejs') %>

    </main>


    <!-- Footer -->
    <%- include('./partial/footer') %>

</body>

</html>